*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: darkgray;
    text-align: center;
    overflow: hidden;
}

canvas {
    background-color: lightgray;
}